.header {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
  justify-content: space-between;
  align-items: center;
}
.logoShoes {
  margin-left: 60px;
}
.title {
  display: flex;
  flex-direction: row;
  font-size: 50px;
}
.z-title {
  color: red;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 60px;
}
.menu :hover {
  text-decoration: overline;
  text-decoration-color: red;
}
