body {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
}
.section {
  /* mexer pq ta errado */
  width: 50%;
  /* display: flex; */

  padding: 20px 20px 0px;
}
.titleIntroduction {
  width: 100%;
  font-size: 50px;
}
.textIntroduction {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  padding: 10px;
  line-height: 1.5em;
}
#aside {
  width: 100%;
}
